@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background: #21016d;
    background-size: cover;
    color: white;
    display: flex;
    gap: 100px;
}

form {
    background: #2abfff98;
    width: 30%;
    height: 50%;
    border-radius: 20px;
    font-size: 150%;
    border: 1px solid rgba(255, 255, 255, 0.425);
    margin: 10% 0% 0% 8%;
    padding: 2%;
}

form div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

input[type="text"] {
    font-family: 'Inter', sans-serif;
    background: transparent;
    outline: none;
    border: none;
    margin: 2%;
    padding: 1%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.425);
}

button {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: 'Inter', sans-serif;
    background: #095f877a;
    border: 1px solid rgba(255, 255, 255, 0.425);
    color: white;
    margin: 2%;
    padding: 1.5%  3%;
}

.productList {
    overflow-y: scroll;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 20px 20px; 
    width: 100%;
}

.productList div {
    height: auto;
    width: 320px;
    border: 1px solid white;
    padding: 20px;
    border-radius: 20px;
}

.productList div img {
    aspect-ratio: 1 / 1;
    width: 250px;
    object-fit: cover;
    object-position: center center;
}


