@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background: #407c87;
    background-size: cover;
    color: white;
    gap: 100px;
}

form {
    background: #2abfff98;
    width: 30%;
    height: 50%;
    border-radius: 20px;
    font-size: 150%;
    border: 1px solid rgba(255, 255, 255, 0.425);
    box-shadow: 0px 8px 16px #00000098;
    margin: 10% 0% 20% 8%;
    padding: 2%;
}

form div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

input[type="text"] {
    font-family: 'Inter', sans-serif;
    background: transparent;
    outline: none;
    border: none;
    margin: 2%;
    padding: 1%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.425);
}

button {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: 'Inter', sans-serif;
    background: #407c87;
    border: 1px solid rgba(255, 255, 255, 0.425);
    box-shadow: 0px 8px 16px #00000098;
    color: white;
    padding: 1.5%  3%;
}

.arrow {
    position: absolute;
    top: 50%;
    left: 50%;
}

.productList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 3%;
    gap: 5%;
}

.productList div {
    display: flex;
    flex-direction: column;
    background: #2abfff98;
    text-align: left;
    height: auto;
    width: 100%;
    box-shadow: 0px 8px 16px #00000098;
    border: 1px solid white;
    padding: 3%;
    border-radius: 20px;
}

.productList div p {
    flex-grow: 1; 
}

.productList div img {
    width: 300px;
    height: 200px;
    border-radius: 20px;
    margin: 1% 10% 10% 10%;
    box-shadow: 0px 8px 16px #00000098;
    align-self: flex-start;
    
}



