@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

body{
    font-family: 'Inter', sans-serif;
    background: #407c87;
    background-size: cover;
    color: white;
}

form {
    background: #a5dbdd;
    width: 25%;
    height: 50%;
    border-radius: 20px;
    font-size: 150%;
    border: 1px solid rgba(255, 255, 255, 0.425);
    margin: 10% 0% 0% 10%;
    padding: 2%;
}

form div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

input[type="text"] {
    font-family: 'Inter', sans-serif;
    background: transparent;
    outline: none;
    border: none;
    margin: 2%;
    padding: 1%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.425);
}

button {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: 'Inter', sans-serif;
    background: #407c87;
    border: 1px solid rgba(255, 255, 255, 0.425);
    color: white;
    margin: 2%;
    padding: 1.5%  3%;
}

.php {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2%; 
  }

.products {
    background: #a5dbdd;
    border: 1px solid rgba(255, 255, 255, 0.425);
    padding: 2%;
    border-radius: 20px;
}


